/* Knowledge Corner */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.knowledgeClarityProgress {
  color: #444444;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  width: 490px;
}

.mainKnowledge {
  background: #fff5f4;
  height: 100vh;
  display: flex;
 
}

.knowledgeImage {
  background: url(../assets/knowledge.jpg);
  width: 60%;
  height: 60%;
  background-size: cover;
}

.leftknowledge {
  width: 40%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

.rightknowledge {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50vh;
  
  margin-top: 30vh;
}
.questionStatement{
  width:60%
}
.quesandans {
  animation: fadeIn 1s ease-in-out;
}


.question {
  font-size: 2.5rem;
  color: #ee3123;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slideIn 0.8s ease-in-out;
}

.answer {
  font-size: 1.5rem;
  color: #444;
  font-style: italic;
  animation: fadeIn 0.5s ease-in-out;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Pop-up Animation for .home */
@keyframes popUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.readThis{
  margin-top: 10px;
  color:red;
  font-weight: bold;
}
/* Apply pop-up animation to .home */
.home {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  right: 10vw;
  top: 5vh;
  
  /* Animation */
  animation: popUp 0.6s ease-out;
}

.homea {
  text-decoration: none;
  color: #000000;
}

/* Previous Styling for bottom-column */
.bottom-column {
  display: flex;
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

.frame29992, .frame3010, .frame30082, .frame30092 {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.frame29992 {
  background: #eaeae8;
}

.clear {
  font-size: 40px;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #444;
}

.frame3010 {
  background: #fcd6d3;
}

.concise {
  font-size: 40px;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #444;
}

.frame30082 {
  background: #dfdfdf;
}

.efficient {
  font-size: 40px;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #444;
}

.frame30092 {
  background: #fff5f4;
}

.accurate {
  font-size: 40px;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  color: #444;
}
